<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application>
        <activity android:name="courseclock.timetable.testing.TimeLabActivity" android:exported="false" />
        <service android:name="courseclock.timetable.testing.TimeLabService" android:exported="false" />
    </application>
</manifest>
